/** @file index.css
 * Style file for index.html
 */

.locale {
	display: none;
}

.locale-en {
	display: inline;
}

.only-after-login {
	display: none;
}

.notif-area {
	position: fixed;
	z-index: 999;
}

#notif-area-left {
	left: 10px;
	bottom: 10px;
}

#notif-area-right {
	right: 10px;
	bottom: 10px;
	z-index: -1;
}

#notif-area-right:hover {
	z-index: 999;
}

.notif-item {
	background-color: #e6f3ff;
	color: #428bca;
	padding: 10px 20px;
	margin: 10px;
	opacity: 0.9;
	min-width: 400px;
	border-radius: 5px;
	cursor: pointer;
}

.notif-title {
	font-size: 120%;
	border-bottom: 1px solid #428bca;
	width: 80%;
	font-weight: bold;
}

.notif-body {
	margin: 10px 10px 10px 20px;
}

.symbol {
	font-size: 80%;
}

.send {
	color: red;
}

.recv {
	color: blue;
}

